header img{
    margin-top:0px;
    background-color:#666;
    display:block;
    padding-top:10px;
    padding-bottom:30px;
    width:100%;
    max-height:179px;
}

nav {
    padding-left:40px;
    max-width:100%;
    margin:0px;
    display:block;
    background-color: #666;
    padding-bottom:60px;
    border-bottom: solid white 2px;
}

nav a:link, nav a:visited {
    text-align: center;
    width: 120px;
    float: left;
    display: block;
    background-color: #ccc;
    border: 3px solid white;
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

nav a:hover {
    background-color:#F90
}

section#homepage {
    margin:0px;
    clear:both;
    background-color: #666;
    padding-bottom: 440px;
    border-bottom: solid white 2px;
    background-image:url(Images/images/fairheadricky.jpg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    
    
}
section#gallery {
    margin:0px;
    clear:both;
    background-color: #666;
    padding-bottom: 440px;
    border-bottom: solid white 2px;
    height:350px;
    
}

article {
    margin:0px;
    padding-top:60px;
    padding-right: 40px;
    width: 35%;
    float: right;
}

article#gallery {
    float:left;
    align-self: center;
    width:860px;
    height:100%;
    padding-left:15px;
}

td {
    padding:10px;
}

table#gallery{
    width:inherit;
    
}
article h1 {
    font-size: 24px;
    text-align: right;

}

article header {
    margin-top: 0px;
    display: inline;
}

article p {
    color:white;
    font-size: 18px;
    text-align: right;
}

footer {
    margin-bottom:0px;
    background-color:#666;
    display:block;
    padding-top:10px;
    padding-bottom:15px;
    width:100%;
}

footer p {
    text-align:center;
    margin:0px;
    color:white;
    font-size: 18px;
}